.owl-carousel-global li {
  min-width: 100%;
  height: 45vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-prev {
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 10px;
  top: 45%;
  margin-left: -70px;
  display: block !important;
  background-color: transparent !important;
}
.owl-next {
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 10px;
  top: 44%;
  right: 70px;
  display: block !important;
  background-color: transparent !important;
}
.owl-prev i, .owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}
.owl-controls {
  margin-top: -40px !important;
}
.owl-theme .owl-dots .owl-dot {
  position: absolute;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ced200;
}
